@using Nop.Web.Models.Catalog;
@model IList<ManufacturerModel>

   
<div class="page manufacturer-row-page">
    <div class="page-title">
        <h1>@T("Manufacturers.List")</h1>
    </div>
    <div class="page-body">
        <div class="manufacturer-row">
            @foreach (var item in Model)
            {
                <div class="manufacturer-box">
                    <div class="manufacturer-item">
                        <h2 class="manufacturer-title">
                                @item.Name
                        </h2>
                        <div class="manufacturer-picture">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <button class="btn large ghost all-brands" title="See All Brands">See All Brands &gt;</button>

</div>
