@using Nop.Web.Models.Catalog;
@model IList<ManufacturerModel>

   
<div class="page manufacturer-row-page">
    <div class="page-title">
        <h1>@T("Manufacturers.List")</h1>
    </div>
    <div class="page-body">
        <div class="manufacturer-row">
            @foreach (var item in Model)
            {
                <div class="manufacturer-box">
					<a href="#" class="manufacturer-item">
						 @* <h2 class="manufacturer-title">
						 		@item.Name
						 </h2> *@
						<div class="manufacturer-picture">
								<img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
						</div>
                    </a>

					<div class="contact_list">

						<div class="list_item">
							<a href="#" title="1-Day Acuvue Define">
								1-Day Acuvue Define
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="1-Day Acuvue Moist">
								1-Day Acuvue Moist
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="1-Day Acuvue Moist for Astigmatism">
								1-Day Acuvue Moist for Astigmatism
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="1-Day Acuvue Moist Multifocal">
								1-Day Acuvue Moist Multifocal
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="1-Day Acuvue TruEye">
								1-Day Acuvue TruEye
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue 2">
								Acuvue 2
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys">
								Acuvue Oasys
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys 1-Day for Astigmatism">
								Acuvue Oasys 1-Day for Astigmatism
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys 1-Day with Hydraluxe">
								Acuvue Oasys 1-Day with Hydraluxe
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys 2-week Multifocal">
								Acuvue Oasys 2-week Multifocal
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys for Astigmatism">
								Acuvue Oasys for Astigmatism
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys for Presbyopia">
								Acuvue Oasys for Presbyopia
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys Max 1-Day">
								Acuvue Oasys Max 1-Day
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys Max 1-Day Multifocal">
								Acuvue Oasys Max 1-Day Multifocal
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue Oasys with Transitions">
								Acuvue Oasys with Transitions
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue VITA">
								Acuvue VITA
							</a>
						</div>

						<div class="list_item">
							<a href="#" title="Acuvue VITA for Astigmatism">
								Acuvue VITA for Astigmatism
							</a>
						</div>
					</div>

                </div>
            }
        </div>
    </div>
    <button class="btn large ghost all-brands" title="See All Brands">See All Brands &gt;</button>

</div>
