@model ShoppingCartModel

@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Media
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax

@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject MediaSettings mediaSettings
@inject OrderSettings orderSettings

<div class="order-summary-content" id="shopping_cart">
    <div class="cart_wrap">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore, additionalData = Model })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @await Html.PartialAsync("_StepContainer");
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="table-wrapper">
                <div class="cart_items">
                   
                        @foreach (var item in Model.Items)
                        {
                            <div class="cart_item">
                                <div class="inner">
                            <div class="cart_item_header">

                                <h3><a href="@(Url.RouteUrl<Product>(new { SeName = item.ProductSeName }))" class="product-name">@item.ProductName</a></h3>
                                <div class="tools">
                                    <div class="edit"><a class="edit_link" href="javascript:void(0);"><i class="fa fa-pencil-alt" aria-hidden="true"></i>Update Dr</a></div>
                                    <span class="divider"> | </span>
                                    <a class="update modlink fancy" href="#"><i class="fa fa-pencil"></i>Update Rx</a>
                                    <span class="remove hide">
                                        @if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" aria-label="@T("ShoppingCart.Remove")" />
                                            <button type="button" name="updatecart" class="remove-btn" onclick="$('#removefromcart@(item.Id)').attr('checked', true); $('#updatecart').trigger('click');">Remove</button>
                                        }

                                    </span>
                                    <span class="divider"> | </span>
                                    <div class="remove">
                                        @if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" aria-label="@T("ShoppingCart.Remove")" />
                                            <button type="button" name="updatecart" class="remove-btn" onclick="$('#removefromcart@(item.Id)').attr('checked', true); $('#updatecart').trigger('click');">
                                                <i class="fa fa-times"></i>Remove
                                            </button>
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="cart_item_main with_savings">
                                <div class="cart_item_img">
                                    <a href="@(Url.RouteUrl<Product>(new { SeName = item.ProductSeName }))">
                                        <img class="cartprodimg" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" width="@mediaSettings.DefaultImageQuality" />
                                    </a>
                                </div>
                                <div class="cart_item_info ">
                                    <table>
                                        <tbody>
                                            <tr class="head">
                                                <th class="first"></th>
                                                <th class="base curve">BC</th>
                                                <th class="diameter">DIA</th>
                                                <th class="power">Power</th>
                                            </tr>
                                            <tr class="righteye">
                                                <th class="eye">
                                                    Right Eye (OD)
                                                </th>
                                                <td class="base curve"><span class="mobile-title">BC</span>8.6</td>
                                                <td class="diameter"><span class="mobile-title">DIA</span>14.2</td>
                                                <td class="power"><span class="mobile-title">Power</span>-4.75</td>
                                            </tr>
                                            <tr class="lefteye">
                                                <th class="eye">
                                                    Left Eye (OS)
                                                </th>
                                                <td class="base curve"><span class="mobile-title">BC</span>8.6</td>
                                                <td class="diameter"><span class="mobile-title">DIA</span>14.2</td>
                                                <td class="power"><span class="mobile-title">Power</span>-10.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart_item_pricing ">
                                    <table>
                                        <tbody>
                                            <tr class="head">
                                                <th class="price">Price</th>
                                                <th class="qty">QTY</th>
                                                <th class="total">Total</th>
                                            </tr>
                                            <tr class="righteye">
                                                <td class="price after_rebate">
                                                    <span class="mobile-title">Price</span>
                                                    <span class="after-rebate">
                                                        @item.UnitPrice
                                                        <span class="after_rebate">after rebate</span>
                                                    </span>
                                                </td>
                                                <td class="qty">
                                                    <span class="label">
                                                        @if (Model.IsEditable)
                                                        {
                                                            if (item.AllowedQuantities.Count > 0)
                                                            {
                                                                <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                                    @foreach (var qty in item.AllowedQuantities)
                                                                    {
                                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                    }
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <div class="product-quantity">
                                                                    <div class="quantity up" id="quantity-up-@(item.Id)"></div>
                                                                    <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" aria-label="@T("ShoppingCart.Quantity")" onchange="$('#updatecart').trigger('click');" />
                                                                    <div class="quantity down" id="quantity-down-@(item.Id)"></div>
                                                                </div>
                                                                <script asp-location="Footer">
                                                                    $(function () {
                                                                        $('#quantity-up-@(item.Id)').on('click',
                                                                            function (e) {
                                                                                var input = $(document).find('#itemquantity@(item.Id)');
                                                                                var oldValue = parseInt(input.val());
                                                                                var newVal = oldValue + 1;
                                                                                input.val(newVal.toString());
                                                                                input.trigger("change");
                                                                            });

                                                                        $('#quantity-down-@(item.Id)').on('click',
                                                                            function (e) {
                                                                                var input = $(document).find('#itemquantity@(item.Id)');
                                                                                var oldValue = parseInt(input.val());
                                                                                var newVal = oldValue - 1;
                                                                                input.val(newVal.toString());
                                                                                input.trigger("change");
                                                                            });
                                                                    });
                                                                </script>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span class="product-quantity">@item.Quantity</span>
                                                        }
                                                    </span>
                                                </td>
                                                <td class="total after_rebate">
                                                    <span class="mobile-title">Total</span>
                                                    <span class="after-rebate">
                                                        @item.SubTotal
                                                        @if (!string.IsNullOrEmpty(item.Discount))
                                                        {
                                                            <div class="discount">
                                                                @T("ShoppingCart.ItemYouSave", item.Discount)
                                                            </div>
                                                            if (item.MaximumDiscountedQty.HasValue)
                                                            {
                                                                <div class="discount-additional-info">
                                                                    @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                                </div>
                                                            }
                                                        }
                                                        <span class="after_rebate">after rebate</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="lefteye">
                                                <td class="price after_rebate">
                                                    <span class="mobile-title">Price</span>
                                                    <span class="after-rebate">
                                                        @item.UnitPrice
                                                        <span class="after_rebate">after rebate</span>
                                                    </span>
                                                </td>
                                                <td class="qty">
                                                    <span class="label">
                                                        @if (Model.IsEditable)
                                                        {
                                                            if (item.AllowedQuantities.Count > 0)
                                                            {
                                                                <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                                    @foreach (var qty in item.AllowedQuantities)
                                                                    {
                                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                    }
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <div class="product-quantity">
                                                                    <div class="quantity up" id="quantity-up-@(item.Id)"></div>
                                                                    <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" aria-label="@T("ShoppingCart.Quantity")" onchange="$('#updatecart').trigger('click');" />
                                                                    <div class="quantity down" id="quantity-down-@(item.Id)"></div>
                                                                </div>
                                                                <script asp-location="Footer">
                                                                    $(function () {
                                                                        $('#quantity-up-@(item.Id)').on('click',
                                                                            function (e) {
                                                                                var input = $(document).find('#itemquantity@(item.Id)');
                                                                                var oldValue = parseInt(input.val());
                                                                                var newVal = oldValue + 1;
                                                                                input.val(newVal.toString());
                                                                                input.trigger("change");
                                                                            });

                                                                        $('#quantity-down-@(item.Id)').on('click',
                                                                            function (e) {
                                                                                var input = $(document).find('#itemquantity@(item.Id)');
                                                                                var oldValue = parseInt(input.val());
                                                                                var newVal = oldValue - 1;
                                                                                input.val(newVal.toString());
                                                                                input.trigger("change");
                                                                            });
                                                                    });
                                                                </script>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span class="product-quantity">@item.Quantity</span>
                                                        }
                                                    </span>
                                                </td>
                                                <td class="total after_rebate">
                                                    <span class="mobile-title">Total</span>
                                                    <span class="after-rebate">
                                                        @item.SubTotal
                                                        @if (!string.IsNullOrEmpty(item.Discount))
                                                        {
                                                            <div class="discount">
                                                                @T("ShoppingCart.ItemYouSave", item.Discount)
                                                            </div>
                                                            if (item.MaximumDiscountedQty.HasValue)
                                                            {
                                                                <div class="discount-additional-info">
                                                                    @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                                </div>
                                                            }
                                                        }
                                                        <span class="after_rebate">after rebate</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="mobile_tools">
                                    <a class="update modlink fancy" href="#"><i class="fa fa-pencil"></i>Update Rx</a>
                                    <a class="update modlink fancy" href="#"><i class="fa fa-pencil"></i>Update Rx</a>
                                </div>

                                <div class="rebateoffercontainer">
                                    <div class="rebateoffer rebateoffercontainer ro554">
                                        <div class="rebate-widget checkoutbadge">
                                            <div class="header">
                                                <div class="rebate_discount">
                                                    <i class="fas fa-check"></i>
                                                    <span class="lead_text">YOU'RE SAVING $85</span>
                                                </div>
                                                <div class="rebate_quantity">
                                                    <span class="desc_text">WITH A <strong>4</strong> BOX ORDER</span>
                                                    <span class="fancy">After Rebate</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        }
                        <div class="cart-options">
                            <div id="special_offers">
                                <div class="heading">
                                    <h2>Free with Purchase</h2>
                                </div>
                                <div class="clear"></div>
                                <div class="offer">
                                    <span class="descripion">FREE Lens Case ($2.99 value)</span>
                                    <img class="lens-case" src="/images/thumbs/0000026_asus-n551jk-xo076h-laptop_80.jpeg" alt="Free Lens Case">
                                    <div class="subtotal">
                                        <span class="promo-free">FREE</span>
                                    </div>
                                    <div class="tools">
                                        <span class="del">
                                            <a href="#" onclick="AreYouSure('https://www.lens.com/common/secure/xt_orderform_delitem.asp?basketitemid=155793168&amp;SetC=Y'); return false;">Remove</a>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div>
            </div>
            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteTopicUrl("shippinginfo"))
                </div>
            }
            
            <div class="cart-footer">
                @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OrderSummaryCartFooter, additionalData = Model })
                @*   @if (Model.IsEditable)
            {
            <div class="cart-collaterals">
            <div class="deals">
            @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
            @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OrderSummaryContentDeals, additionalData = Model })
            </div>
            </div>
            } *@
                    <div class="form-footer">
                   
                    @if (Model.IsEditable)
                    {
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                            {
                                <script asp-location="Footer">
                                    $(function () {
                                        $('#checkout').on('click', function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>

                                if (orderSettings.CheckoutDisabled)
                                {
                                    <div class="checkout-disabled">
                                        @T("Checkout.Disabled")
                                    </div>
                                }
                                else
                                {
                                        <button type="submit" name="continueshopping" class="btn color2">@T("ShoppingCart.ContinueShopping")</button>

                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="btn color1">
                                        @T("Checkout.Button")
                                    </button>
                                }
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponents)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync(typeof(CrossSellProductsViewComponent))
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
        @await Html.PartialAsync("customCart")
        ;

    }
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OrderSummaryContentAfter, additionalData = Model })
    </div>
    @{
        await Html.RenderPartialAsync("_CartBadge");
    }
    @{
        await Html.RenderPartialAsync("_FAQ_nav");

    }
</div>